<header>
<h2>Current Turn</h2>
<div># Actions: {{content.currentTurn.actions}}</div>
<div># Buys: {{content.currentTurn.buys}}</div>
</header>

<h2>Hand</h2>
<section class="hand">
{{#each content.hand}}
	{{view App.CardView content=this cardSource="hand"}}
{{/each}}
</section>

<h2>Deck Count: {{content.deckCount}}</h2>

<h2>Discards</h2>
<section class="discards">
{{#each content.discards}}
	{{view App.CardView content=this cardSource="discards"}}
{{/each}}
</section>

{{#if isActionPhase}}
<section class="action-phase">
	It is your turn. Double click a card to play it.
	Or <button {{action skip 'action'}}>Skip Actions</button>.
</section>
{{/if}}

{{#if isBuyPhase}}
<section class="buy-phase">
	Double click a card to buy it, or <button {{action skip 'buy'}}>Skip Buys</button>.
	<h2>Bank</h2>
	<section class="bank">
	{{#each stack in bank}}
		<section class=stack>
			{{#each stack}}
			{{view App.CardView content=this cardSource="bank"}}
			{{/each}}
		</section>
	{{/each}}
	</section>
</section>
{{/if}}
